<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=chrome">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Codedaddies List</title>
</head>
<body style="background-color: grey; color: white;">
<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Codedaddies List</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center;">What do you want to search for on codedaddies List?</h1>
    <div class="row">

        <div class="col s4">
            <!-- Promo content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73;">flash_on</i> <!-- we can use i.medium,i.small,i.tiny-->
                <p>Fast craigslist web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange;">camera</i>
                <p>Filter your searches</p>
                <p class="light center">We built in functionality to filter based on pricing.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo content 3 goes here-->
            <div class="center">
                <i class="large material-icons" style="color: blue;">chrome_reader_mode</i>
                <p>A much sexier front-end to craigslist</p>
                <p class="thin center">We built this with 🧡</p>
            </div>
        </div>

    </div>

    <form action="{% url 'my_app:new_search' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="What do you wanna look up?">
        <button class="btn-small waves-effect waves-light" type="submit" name="action">SEARCH
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% block content %}

    {% endblock content %}
</div>

<script src="{% static 'js/materialize.js' %}"></script>
</body>
</html>